<div class="bg-white rounded-lg p-6 shadow-sm">
  <div class="flex items-start justify-between mb-4">
    <div class="flex items-center">
      <img [src]="'https://api.dicebear.com/7.x/avataaars/svg?seed=' + employee.avatarId" [alt]="employee.name"
        class="w-16 h-16 rounded-full mr-4" />
      <div>
        <h3 class="font-semibold text-[16px]">{{employee.name}}</h3>
        <p class="text-gray-600 text-sm text-[#958d8d]">{{employee.designation}}</p>
      </div>
    </div>
    <div class="flex space-x-2" >
      <span class="flex justify-between align-center rounded-full border p-2 shadow-sm mr-2"
        style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" (click)="onEdit()">
        <button 
          class=" text-gray-400 hover:text-green-600 hover:bg-green-50 rounded-lg transition-colors">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-edit w-5 h-5">
            <path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" key="1m0v6g"></path>
            <path d="M18.375 2.625a2.121 2.121 0 1 1 3 3L12 15l-4 1 1-4Z" key="1lpok0"></path>
          </svg>
        </button>
      </span>
      <span class="flex justify-between align-center rounded-full border p-2 shadow-sm mr-2"
        style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" (click)="onDelete()">
        <button 
          class=" text-gray-400 hover:text-red-600 hover:bg-red-50 rounded-lg transition-colors">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-trash w-5 h-5">
            <path d="M3 6h18" key="d0wm0j"></path>
            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" key="4alrt4"></path>
            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" key="v07s0e"></path>
          </svg>
        </button>
      </span>

      <button (click)="onShare()" class="text-gray-400 hover:text-gray-600">
        <span class="flex justify-between align-center rounded-full border p-2 shadow-sm mr-2"
          style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
          <lucide-icon name="share-2" class="w-5 h-5"></lucide-icon>
        </span>
      </button>
    </div>
  </div>

  <div class="flex items-center border-b border-gray-100 pb-2">
    <app-rating-display [rating]="employee.rating"></app-rating-display>
  </div>


  <div>
    <div class="flex items-center justify-between border-b border-gray-100 pt-2 pb-2">
      <div class="text-sm text-gray-500">
        Experience: <b>{{employee.experience}} Years</b>
      </div>
      <div class="mt-2 text-sm text-gray-500">
        Date of Joining: <b>{{employee.dateOfJoining}}</b>
      </div>
    </div>


    <div class="mt-2 text-sm text-gray-500 border-b border-gray-100 pt-2 pb-2">
      Current Team: <b>{{employee.companyName}}</b>
    </div>
    <div class="mt-2 text-sm text-gray-500 border-b border-gray-100 pt-2 pb-2">
      Reporting Manager: <b>{{employee.reportingManager}}</b>
    </div>
  </div>

  <div class="flex justify-between align-center mt-4">
    <div class="flex items-center text-gray-600 cursor-pointer">
      <span class="flex justify-between align-center rounded-full border p-2 shadow-sm mr-2 text-red">
        <lucide-icon name="phone" class="w-4 h-4" color="red"></lucide-icon>
      </span>
      <span class="text-sm"><b>{{employee.contactNo}}</b></span>
    </div>
    <div class="flex items-center text-gray-600 cursor-pointer">
      <span class="flex justify-between align-center rounded-full border p-2 shadow-sm mr-2">
        <lucide-icon name="mail" class="w-4 h-4" color="blue"></lucide-icon>
      </span>
      <span class="text-sm"><b>{{employee.email}}</b></span>
    </div>
  </div>

</div>