:host {
  display: block;
}

.search-container {
  position: relative;
  transition: all 0.3s ease;
}

.search-input {
  width: 100%;
  transition: all 0.3s ease;
}

.search-input.collapsed {
  width: 0;
  padding: 0;
  border: none;
}

.search-icon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-icon {
  cursor: pointer;
  transition: all 0.3s ease;
}